<a href="https://colab.research.google.com/github/nidhipatel8/CS483_AI_-_ML/blob/main/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
 #1. Create a dataframe as follows by Pandas functions
 #import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame()

# dictionary of lists
dict = {'ID':["12345", "12346", "12347", "12348", "12349", "12349", "12351", "12352", "12353", "12354"],
        'Name': ["John", "Mike", "Jim", "Peter", "Jack", "Andrew", "Adam", "Jeff", "David", "David"],
        'GPA':[3.5, 3.45, 3.45, 3.12, 2.65, 3.01, 3.70, 2.89, 3.34, 3.82]}
df = pd.DataFrame(dict)

print(df)

      ID    Name   GPA
0  12345    John  3.50
1  12346    Mike  3.45
2  12347     Jim  3.45
3  12348   Peter  3.12
4  12349    Jack  2.65
5  12349  Andrew  3.01
6  12351    Adam  3.70
7  12352    Jeff  2.89
8  12353   David  3.34
9  12354   David  3.82

In [24]:
#2. Based on above dataframe, change record index to GPA


#import pandas as pd
import pandas as pd
import numpy as np
import random
 
# Calling DataFrame constructor
df = pd.DataFrame()

# dictionary of lists
dict = ({'ID':["12345", "12346", "12347", "12348", "12349", "12349", "12351", "12352", "12353", "12354"],
        'Name': ["John", "Mike", "Jim", "Peter", "Jack", "Andrew", "Adam", "Jeff", "David", "David"]},
        df_dict.index[3.5, 3.45, 3.45, 3.12, 2.65, 3.01, 3.70, 2.89, 3.34, 3.82])
df = pd.DataFrame(dict)

print(df)

NameError: ignored

In [19]:
#3. Generate time series from 7/1/2020 to 8/1/2020

#import pandas as pd
import pandas as pd
from datetime import datetime
import numpy as np
 
# Calling DataFrame constructor
df = pd.DataFrame()

# dictionary of lists
dict = {'ID':["12345", "12346", "12347", "12348", "12349", "12349", "12351", "12352", "12353", "12354"],
        'Name': ["John", "Mike", "Jim", "Peter", "Jack", "Andrew", "Adam", "Jeff", "David", "David"],
        'GPA':[3.5, 3.45, 3.45, 3.12, 2.65, 3.01, 3.70, 2.89, 3.34, 3.82]}
df = pd.DataFrame(dict)



print(df)

      ID    Name   GPA
0  12345    John  3.50
1  12346    Mike  3.45
2  12347     Jim  3.45
3  12348   Peter  3.12
4  12349    Jack  2.65
5  12349  Andrew  3.01
6  12351    Adam  3.70
7  12352    Jeff  2.89
8  12353   David  3.34
9  12354   David  3.82

In [7]:
#4. Add one more column for studentâ€™s major BSCS or MSCS

#import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame()

# dictionary of lists
dict = {'ID':["12345", "12346", "12347", "12348", "12349", "12349", "12351", "12352", "12353", "12354"],
        'Name': ["John", "Mike", "Jim", "Peter", "Jack", "Andrew", "Adam", "Jeff", "David", "David"],
        'GPA':[3.5, 3.45, 3.45, 3.12, 2.65, 3.01, 3.70, 2.89, 3.34, 3.82]}
df = pd.DataFrame(dict)

 #Using 'Major' as the column name and equating it to the list
df2 = df.assign(Magor=['BSCS', 'MSCS', 'BSCS', 'BSCS', 'MSCS', 'BSCS', 'MSCS', 'MSCS', 'BSCS', 'MSCS'])

print(df2)

      ID    Name   GPA Magor
0  12345    John  3.50  BSCS
1  12346    Mike  3.45  MSCS
2  12347     Jim  3.45  BSCS
3  12348   Peter  3.12  BSCS
4  12349    Jack  2.65  MSCS
5  12349  Andrew  3.01  BSCS
6  12351    Adam  3.70  MSCS
7  12352    Jeff  2.89  MSCS
8  12353   David  3.34  BSCS
9  12354   David  3.82  MSCS